<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="authority" type="com.rioverde.tech.docsite.domain.User"*/-->
<div class="container-fluid" style="margin-top: 10px; margin-left: 50px">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/documents">Documents</a></li>
        <li role="presentation"><a href="/authority">Authorities</a></li>
        <li role="presentation" class="active"><a href="/users">Users</a></li>
    </ul>
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="panel-title">Users</h1>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default" href="#" role="button">Add New</a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(users)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>User ID</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>XXXX12</td>
                                <td>Joe</td>
                                <td>Blow</td>
                                <td>ADMIN</td>
                                <td>ACTIVE</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>124</td>
                                <td>AAXX12</td>
                                <td>Betty</td>
                                <td>Lu</td>
                                <td>CUSTOMER</td>
                                <td>ACTIVE</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}">21212</td>
                                <td th:text="${user.userId}">hello</td>
                                <td th:text="${user.firstName}">Bob</td>
                                <td th:text="${user.lastName}">Roberts</td>
                                <td th:text="${user.userType}">CUSTOMER</td>
                                <td th:text="${user.userStatus}">SUSPENDED</td>
                                <td><a href="#" th:href="@{'/users/' +  ${user.id} + '/show'}">View</a></td>
                                <td><a href="#" th:href="@{'/users/' +  ${user.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/users/' +  ${user.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2xxxx</div>
</body>
</html>
